/* src/components/FormPage/FormPage.css */

.form-page {
  background-color: #007bff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.container {
  width: 400px; /* Largeur du conteneur */
  height: 400px; /* Hauteur du conteneur */
  overflow: auto; /* Activer la barre de défilement si nécessaire */
  
}
.scrollable-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 500px; /* Largeur du conteneur */
  height: 100%; /* Hauteur du conteneur (peut être ajustée) */
  overflow: auto; /* Activer la barre de défilement si nécessaire */
}


.form-container {
  background-color: white; /* Bleu clair */
  border-radius: 8px;
  padding: 60px;
  max-width: 1300px;
  width: 1000px;
  width: 115%;
  box-shadow: 0 0 10px rgba(134, 129, 204, 0.938);
  text-align: center;
  
}

.phrase {
  color: #007bff;
  margin-top: 20px ;
  margin-bottom: 60px ;
}







button[type="button"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 15px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 20px;
  margin-top: 40px;
  width: 150px;
  margin-right: 10px;
}
/* Ajoutez de la marge à droite à chaque .form-group */


.form-row button[type="button"] {
  margin-right: 100px; /* Espacement à droite de chaque bouton */
}
/* Ajoutez de la marge à droite à chaque .form-group, sauf au dernier */
.form-row .form-group:not(:last-child) {
  margin-right: 100px; /* Espacement à droite de chaque case, sauf au dernier */
}



button[type="button"]:hover {
  background-color: #0056b3;
}
.form-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


.form-group {
  margin-bottom: 30px;
  text-align: center;
  color: #cad7e6;
  margin-right: 30px;
  flex-basis: calc(50% - 15px);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.form-input [type="text1"] {
  width: 100%;
  border: 1px solid white;
  border-radius: 15px;
  font-size: 16px;
  margin-top: 10px;
  background-color: #7d88bd; /* Couleur de fond par défaut */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  color: black;
  padding: 10px; /* Espacement intérieur */
}



/* Styliser les étiquettes des champs de formulaire */
.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 15px;
  color: #007bff; /* Bleu foncé */
}
/* Appliquer un style à un champ de formulaire lorsqu'il est sélectionné (focus) */
.form-input:focus {
  border: 1px solid #007bff; /* Bordure bleue lorsqu'il est sélectionné */
  box-shadow: 0 0 5px #007bff(0, 0, 255, 0.5); /* Ombre bleue lorsqu'il est sélectionné */
  outline: none; /* Supprime le contour par défaut */
}

/* Styles personnalisés pour le conteneur de la barre de défilement */
.my-custom-scrollbar {
  max-height: 400px; /* Hauteur maximale de la zone de défilement */
}

/* Styles personnalisés pour la piste de la barre de défilement */
.simplebar-track.vertical {
  background: #f1f1f1; /* Couleur de fond de la piste de défilement (à personnaliser) */
}

/* Styles personnalisés pour la poignée de la barre de défilement */
.simplebar-scrollbar {
  background-color: #888; /* Couleur de la poignée de la barre de défilement (à personnaliser) */
  border-radius: 10px; /* Arrondi de la poignée de la barre de défilement */
}

.phrase{
font-size: 30px;
}