/* Sidebar Styles */
.sidebar {
    background-color: #385ab8; /* Couleur bleue */
    width: 18%; /* 1/5 de la page */
    padding: 30px;
    color: white; /* Texte blanc */
    position: fixed; /* La barre latérale reste fixe */
    height: 100%; /* Hauteur à 100% de la fenêtre */
    overflow-y: auto; /* Défilement vertical si le contenu dépasse la hauteur */
}

/* Content Styles */
.content {
    flex: 1;
    padding: 20px;
    margin-left: 18%; /* Marge à gauche pour éviter la superposition avec la barre latérale */
    overflow: hidden; /* Cacher tout débordement horizontal */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; /* Réduire l'espacement en haut */
}

/* Barre de recherche en haut de la page */
.search-bar {
    display: flex;
    align-items: center;
    color: rgb(43, 206, 56);
}

.search-bar input[type="text"] {
    margin-right: 20px;
}

.logo img {
    width: 120px;
    height: auto;
    margin-bottom: 20px;
}

.summary-container {
    display: flex;
    justify-content: space-between;
}

.summary-item {
    background-color: #385ab8;
    padding: 30px;
    flex-basis: 24%;
    text-align: center;
    margin-right: 10px;
    border-radius: 15px;
}

/* Couleurs différentes pour les conteneurs */
.demandes-icon {
    background-color: red;
}

.en-cours-icon {
    background-color: green;
}

.traites-icon {
    background-color: blue;
}

.total-icon {
    background-color: yellow;
}

.summary-text p {
    margin: 0;
    font-weight: bold;
}

body {
    margin: 0;
    font-family: Arial, sans-serif; /* Ajouter une police de caractères générique */
    overflow-x: hidden; /* Cacher tout débordement horizontal */
}

/* Ajoutez des styles pour le conteneur de graphiques selon vos besoins */
.chart-container {
    /* Styles des graphiques */
    margin-top: 20px; /* Espacement par rapport aux résumés */
}
